[2017-08-14 16:01] flexiondotorg opened #2 "The Clock applet doesn't match menubar buttons"
The Clock applet button is not styled the same as Applications Places System. There should be no visual change when hovering over the Clock applet and when click it the button style should match Application Place System. This issue exists in all 3 themes.

Tagging @raveit65

[2017-08-14 16:05] flexiondotorg opened #3 "System Monitor applet has light borders with Ambiant-MATE"
When the System Monitor applet is added to a panel the individual monitors has a light border as can be seen in the attached image. This issue only affects Ambiant-MATE.

![sysmonapplet](https://user-images.githubusercontent.com/304639/29280302-9c27f808-8112-11e7-805c-bf92f7cb1207.png)

Tagging @raveit65

[2017-08-14 16:23] flexiondotorg opened #4 "Green border appearing around last menu item when clicking on any kind of indicator"
When clicking on any of the Indicators a green box will appear around the Clock applet. This may not happen right after log in, but soon after. It is not specific to the Clock Applet either, the "last" applet in the menu will be highlighted with the green box. For example, I've seen it with the netspeed applet and others have reported it with the Dock Applet.

## Reproducing this issue

To reprodu

[2017-08-14 16:37] flexiondotorg opened #5 "Some inactive applications introduce strange rendering"
When the following applications do not have focus the fonts are dimmed and some elements are shaded:

  * `mate-control-center`
  * `dconf-editor`

All 3 themes are affected. An example screen shot show the issues is below:

![inactive-apps](https://user-images.githubusercontent.com/304639/29281502-300eba76-8117-11e7-8166-7235d1ee2df9.png)

Tagging @raveit65

[2017-08-14 16:45] flexiondotorg opened #6 "metacity-theme-viewer has no header bar at all"
After installing `sudo apt install metacity` and running `metacity-theme-viewer` it has no header bar. All 3 Ubuntu MATE themes are affected, as are all the themes from `mate-themes`.

[2017-08-14 16:53] flexiondotorg opened #7 "Scrollbar has a dark left edge on Ambiant-MATE"
Scrollbars on the Ambiant-MATE theme have a dark, or black, left edge. It should be a lighter colour to better blend in. This issue only affects Ambiant-MATE. I've included screenshots of Ambiant-MATE and Radiant-MATE for comparison

## Ambiant-MATE (wrong)

![pluma-ambiant-mate](https://user-images.githubusercontent.com/304639/29282098-6ab0a5e8-8119-11e7-81d0-465e03eb3369.png)

## Radiant-MATE

!

[2017-08-14 20:23] flexiondotorg opened #8 "Restyle linked buttons to look more traditional"
Please restyle the linked buttons in a `dialog-action-area` and `button.linked.dialog-action-area` so that they have a more traditional appearance. In particular the logout and shutdown dialogue windows are where this is most evident. This issue affects all 3 themes.

The image below is for reference. The logout and shutdown dialogues should be styled to more closer reflect the style GTK2 present,

[2017-08-14 20:53] flexiondotorg opened #9 "Menus and Caja List View and Caja Side Bar spacing is too cramped"
Spacing between the following items is slightly too cramped in all 3 Ubuntu MATE themes.

  * Menus and Context Menus
  * Files and folders displayed in Caja List View
  * The Caja sidebar

Can they each be padded out a little more. The padding used in the Ambiance theme (`sudo apt install light-themes`) is suitable for each case.

Tagging @raveit65

[2017-08-14 21:22] flexiondotorg commented on #8
@raveit65 `mate-session-manager` in the 17.10 archive now carries the [the logout-dialog style class patch](https://github.com/mate-desktop/mate-session-manager/commit/1ea1e9cadd8c886c1f3d74275164adf59370f859).

[2017-08-16 13:26] flexiondotorg opened #10 "Add styling for Vala Panel Appmenu bold app names"
Vala Panel Appmenu 0.5.3 is now available for Ubuntu MATE 17.10 daily and bold app names are enabled, but they require CSS styling. See https://github.com/rilian-la-te/vala-panel-appmenu/issues/81 and https://github.com/rilian-la-te/vala-panel-appmenu/commit/1192314c5121105a6ee9aefbd2fcd106c4372a2b for reference.

Switching to the Cupertino, Mutiny or Contemporary layout via MATE Tweak will enable

[2017-08-16 13:52] flexiondotorg opened #11 "Style na-tray applets so they more closely resemble Indicators"
This issue affects all 3 themes. As you can see from the image below na-tray applets are squashed together when compared to Indicators.

![na-tray and intdicators](https://user-images.githubusercontent.com/304639/29366375-c56537b4-8291-11e7-9dd5-68cfcd74548a.png)

In the screenshot above icons on the left are na-tray applets, Gitter, Rocket Chat and Slack, MATE Volume Applet.

When clicked Indicat

[2017-08-16 15:38] ghost opened #12 "Port focus ring from Ambiance"
Ambiance has a nice, colored focus ring around labels in selected check buttons and notebook tabs, while our themes have an almost unnoticeable dashed outline.

![jj](https://user-images.githubusercontent.com/13562431/29371699-710c4b4c-827f-11e7-9927-57a611ab9d1a.jpg)
![fff](https://user-images.githubusercontent.com/13562431/29371701-7312e72a-827f-11e7-9c51-86b3c4920956.jpg)

[2017-08-16 15:51] flexiondotorg commented on #12
Sorry, I'm really not interested in adding styling like this.

[2017-08-16 15:51] #12 closed, assigned to nobody

[2017-08-16 17:47] ghost commented on #12
Got it working for check buttons, are you still not interested? It increases accessibility and visibility.
![sem titulo](https://user-images.githubusercontent.com/13562431/29377143-3dd195c2-8291-11e7-9720-d335a27cb97c.jpg)

[2017-08-16 18:26] lah7 commented on #12
For reference, Ambiant-MATE in 16.04 does have a focus ring around labels (but not the whole button itself for the checkbox)

![image](https://user-images.githubusercontent.com/13032135/29378889-a0a905e6-82b8-11e7-8d19-eae7108c333b.png)

![image](https://user-images.githubusercontent.com/13032135/29378893-a2070bc2-82b8-11e7-8b8c-ccbc079473d6.png)

In fact, many other GTK2 themes have styling to di

[2017-08-16 18:51] ghost commented on #12
Oh yes, Ambiance and GTK2 Ambiant-MATE only does focus ring for the label but i had problems with it. I will post the code later.

[2017-08-16 18:54] lah7 commented on #12
Cross-referenced again, it seems that GTK3 doesn't show the focused state unless you are using keyboard navigation. When using the mouse, the focused part isn't shown, so I don't see why we can't have this for accessibility @flexiondotorg?

![image](https://user-images.githubusercontent.com/13032135/29380028-44bcb3f0-82bc-11e7-8857-ce1a1bbfce11.png)

![image](https://user-images.githubusercontent.

[2017-08-17 08:55] raveit65 commented on #2
Well, the menubar (Applications Places System) use general settings for menus and isn't an applet in my (css) world.
The clock- applet is an applet and follow the the style from other applets like ie. wnck-list and others.
Also boths have different states.
menubar have only 2, **menubar and menubar.hover** (here hover=selected)
clock use four, **button, button:hover, button:checked (selected) and

[2017-08-17 09:15] flexiondotorg commented on #2
So the styling of button:hover and button:checked:hover should, as closely as possible, resemble menubar behaviour. And I think that button:hover should not change style compared to when not hovering.

[2017-08-17 09:24] flexiondotorg commented on #12
@mrnhmath I am aware that 16.04 had the focus ring, I think it looks ugly. Sorry :-) But I don't want to deter you from looking at other area of improvement in the Ubuntu MATE themes. We can certainly use the help!

@lah7 We've add focus state when tabbing since you do need something to indicate what has focus when not selecting with a point device.

[2017-08-17 09:39] raveit65 commented on #4
Omg, i never saw this madness.
Let see if it is reproducible with MATE themes + Cupertino or Contemporary layouts.

[2017-08-17 09:45] raveit65 commented on #3
Should be possible as i don't see that with BlackMATE.

[2017-08-17 09:51] raveit65 commented on #5
Screenshots are made with which WM?
I guess it isn't marco. Sounds like old missing :backdrop style issue with compiz/metacity.

[2017-08-17 10:02] flexiondotorg commented on #5
Screen shots made with Compiz.

[2017-08-17 10:14] raveit65 commented on #6
I see the same with all our themes and Ambiance/radiance, but not with Adwaita.
Setting something like this in themes helps a lot.
headerbar.titlebar {
    min-height: 40px;
}

But i never saw this with other CSD windows, so i think its more a code bug.
Well, i can add such a setting to all Mate (including ubuntu-mate) themes, but this does not fix the issue outside MATE world.
@muktupavels
though

[2017-08-17 10:24] raveit65 commented on #7
This is really new, i never saw that with 17.04.
Looks like the border color from metacity theme.  -_-

[2017-08-17 10:28] raveit65 commented on #9
Should be possible to increase the height for menus and treeviews.
Is this a caja only issue or should i adjust this in general?

[2017-08-17 10:29] muktupavels commented on #6
It seems that GTK+ does not like GtkComboBoxText in header bar... I will probably move combo boxes out of header bar for 3.26.

[2017-08-17 10:33] raveit65 commented on #10
I will add suggested style classes to themes.

[2017-08-17 10:36] raveit65 commented on #11
I can add a horz. padding = 1px.
A larger value will break the *outline* styling, what you see if you use tabbing with the keyboard.
1px is used by MATE themes for references.

[2017-08-17 13:58] raveit65 commented on #7
This is caused by https://github.com/ubuntu-mate/ubuntu-mate-artwork/commit/b890d0ed377f677eb4f82e528af5d860b4e04fe0#diff-fa63e3e8515f204d63f72e3b2f376f06R24
Why using such a dark border color?
[code]

[2017-08-17 14:03] flexiondotorg commented on #7
@raveit65 I actually can't remember what I was fixing with that. I remember doing it, but recall what I was fixing. Please replace it with something sane.

[2017-08-17 14:05] flexiondotorg commented on #9
Well Menus and Context menu changes should be a general change.

I don't know what else the Caja changes might impact, but I don't see why those changes should not be general for the sake of consistency.

[2017-08-17 14:16] raveit65 commented on #11
Please try https://github.com/ubuntu-mate/ubuntu-mate-artwork/commit/ccccca25eb6850185a8da717b0bb5efc5a76a8c7
This is all i can do from my side.
If Rocket Chat and Slack displays so huge again with my commit than it is a problem with the tray-applet/icons/SNI-Support or what ever.

[2017-08-17 14:18] flexiondotorg commented on #11
OK, looks like this is a tray-applet issue then. No change. I have SNI disabled in ubuntu-mate.

[2017-08-17 14:18] #11 closed, assigned to nobody

[2017-08-17 14:39] raveit65 commented on #7
Please test https://github.com/ubuntu-mate/ubuntu-mate-artwork/commit/6775bf64b2d0faac8b2d6212cf13c253ea6f7e87

If we need a black border somewhere than we need to create a new single color definition for this,
**borders** is a very general definition and is used in a lot of places.
You can ping me for doing that.

[2017-08-17 14:41] flexiondotorg commented on #7
Tested, looks correct again. Thank you! :-)

[2017-08-17 14:41] #7 closed, assigned to nobody

[2017-08-17 15:10] raveit65 commented on #6
Please test https://github.com/ubuntu-mate/ubuntu-mate-artwork/commit/aaeffb201020839744d7e7523bd75103d8f62f64

[2017-08-17 15:11] flexiondotorg commented on #6
Works great in all 3 themes. Thank you!

[2017-08-17 15:11] #6 closed, assigned to nobody

[2017-08-17 15:48] raveit65 commented on #10
Please test https://github.com/ubuntu-mate/ubuntu-mate-artwork/commit/8c3dc132dae824a499ecd2736127499b0649bc9d

[2017-08-17 15:54] flexiondotorg commented on #10
Much better :-) Confirmed working in all 3 themes. Thank you!

[2017-08-17 15:54] #10 closed, assigned to nobody

[2017-08-17 17:48] raveit65 commented on #3
I think that is the drawingarea itself in code.
For some reasons it reads the bg color which is light in that theme.
https://github.com/mate-desktop/mate-applets/blob/master/multiload/load-graph.c#L49
I tried to set all parent selectors but nothing helps.
@marosg42
Any idea?

[2017-08-17 17:52] raveit65 commented on #3
I tried those selectors.
[code]
widget = GtkDrawingArea

[2017-08-17 18:27] flexiondotorg commented on #3
@raveit65 OK, thank you for trying.

[2017-08-17 18:36] ghost commented on #12
If anyone's interested, you can add the focus ring to checkbuttons by adding this to gtk-widgets.css, in the bottom of "check and radio" section:

/* Draw a focus ring around the contained label ... */
checkbutton.text-button label {
    border: 1px solid transparent;
    border-radius: 5px;
}

checkbutton.text-button:focus label {
    border-color: @focus_color;
    background-color: @focus_bg_co

[2017-08-17 20:15] raveit65 commented on #5
Please test https://github.com/ubuntu-mate/ubuntu-mate-artwork/commit/67852e8b70fa4b61eb6a7e3fe7b4f6fd8f890c6c

[2017-08-17 20:22] flexiondotorg commented on #5
Lovely! The problem application are fixed :-) I close this as testing some application in the past that had this issue are also still working correctly.

[2017-08-17 20:22] #5 closed, assigned to nobody

[2017-08-18 10:28] raveit65 commented on #8
https://github.com/ubuntu-mate/ubuntu-mate-artwork/pull/13

[2017-08-18 11:03] flexiondotorg commented on #8
Perfect! Please add to the other themes :-D

[2017-08-18 12:09] flexiondotorg commented on #8
I've tested all 3 themes now. Ambiant-MATE and Radiant-MATE look great. However, the button styling in Ambiant-MATE-Dark looks strange, the highlighted button borders are *"too much"*.

![ambiant-mate-dark-logout-buttons](https://user-images.githubusercontent.com/304639/29458281-310c1ca0-8416-11e7-9652-186c50fd396b.png)

Can the buttons be styled to match how they are presented in the `mate-about`

[2017-08-18 14:11] #2 closed, assigned to nobody

[2017-08-18 14:36] raveit65 commented on #8
Branch is rebased with fixed button styling for AD.
Please test again.

[2017-08-18 23:15] flexiondotorg commented on #8
Perfect! Thank you :-)

[2017-08-18 23:15] #8 closed, assigned to nobody

[2017-08-19 10:27] raveit65 commented on #4
Gtk3-inspector shows always the truth 😄
What we see here on applets are the *outlines* with *focus* button state which is used for tabbing with the keyboard on the panel.
Sadly, opening the menu from na-tray applets with left-click can set the *focus* state from another applet.
I can reproduce this with main-menu (the single Mate menu) on fedora too, with opening/closing the menu from nm-applet an

[2017-08-19 11:06] raveit65 commented on #4
It is definetly a problem with *tabbing* suport. An example.
1. Select the top panel with crtl+alt+tab
2. Select an applet with *tab* or *arrow* keys, ie. a panel launcher.
You will see a green outline on the launcher with Ambiant-Mate theme.
3. Open the network-manager-applet menu with left-click mouse.
The green outline will disappear.
4. close network-manager-applet menu and the green outline i

[2017-08-19 11:49] raveit65 commented on #4
Ok, i can verify that using mate-panel-1.17.1 (without SNI-Support) has the same effect.
After re-thinking a while i don't think it is a bug as it is more a side effect of *tabbing* support.
If an applet or launcher has focus than opening a menu from a na-tray applet should taken away the focus from the applet, as the menu is focused now.
And closing the menu will drop the focus back to the applet

[2017-08-21 05:02] marosg42 commented on #3
Sorry, working with themes is way beyond my capabilities

On Thu, Aug 17, 2017 at 7:48 PM, raveit65 <notifications@github.com> wrote:

--

"The mere thought hadn't even begun to speculate about the merest
possibility of crossing my mind."

[2017-08-21 08:48] raveit65 commented on #3
@marosg42
No, this light border doesn't come from a theme.
I think it is draw by cairo in code, btw. cairo reads the normal bg color from the theme which is bright and not dark like the panel with Ambiant-Mate.
You don't see this if bg color from theme is the same color like the panel.
Ie. themes like Menta or BlackMate from us.
So my question is more where cairo draws that thin line in code?

[2017-08-21 09:19] marosg42 commented on #3
@raveit65
I guess you mean
/* create a box and stuff the load graphs inside of it */
static gboolean
multiload_applet_new(MatePanelApplet *applet, const gchar *iid, gpointer
data)

in main.c

On Mon, Aug 21, 2017 at 10:48 AM, raveit65 <notifications@github.com> wrote:

--

"The mere thought hadn't even begun to speculate about the merest
possibility of crossing my mind."

[2017-08-22 12:30] flexiondotorg commented on #9
Closed via 39070d1454acff5fe752ce693636b865cec77335

[2017-08-22 12:30] #9 closed, assigned to nobody

[2017-08-23 16:04] flexiondotorg opened #16 "gThumb headers bars have incorrectly rendered corners"
gThumb has incorrectly rendered corners in it's header bar. See the slight pointed corner where they should be curved. All 3 Ubuntu MATE themes are affected and also Blue submarine and Green submarine. Here is a screenshot.

![gthumb](https://user-images.githubusercontent.com/304639/29625705-5cf929d6-8824-11e7-8676-62ce91c972e5.png)

@raveit65 Is it possible the minimum headerbar height that was a

[2017-08-23 16:06] flexiondotorg commented on #4
@raveit65 So I agree these green outlines are for assisting with making keyboard navigation easy. Therefore, can I request this border colour be change from green to a light (perhaps dotted) color?

[2017-08-23 16:43] raveit65 commented on #16
No, i think this is a wrong usage of **titlebar** selector, see gtk3-inspector
![gthumb](https://user-images.githubusercontent.com/961604/29627507-990a9320-8832-11e7-9c6b-a22004932261.png)
titlebar is here the parent of *headerbar*.
Normal it is used like this *headerbar.titlebar*.
I will see if i can fix that nonsense....

[2017-08-23 17:06] raveit65 commented on #16
Please test
https://github.com/ubuntu-mate/ubuntu-mate-artwork/commit/e953e5268697d20e7678e6c2121f740e60e0bd59
Hopefully i create no collateral damage :-)

[2017-08-24 07:26] raveit65 commented on #4
Please test using doted outlines for the panel with AD.
https://github.com/ubuntu-mate/ubuntu-mate-artwork/commit/1ebeb549323ba4997ddfd9cea826e2535ac74fb3

Btw. Do you mean light=bright or light= not heavy  ?
:-)
Personal i think this makes it not easier to navigate through the panel only with the keyboard, but up to you...
If you agree i will do that for other themes, squashing commits and change

[2017-08-25 17:37] fitojb commented on #12
We’ve got a bug report at LibreOffice when a user complained that the almost invisible focus styling in Ambiance (and thus this theme) deters a11y. Please consider adding this styling. For me it’s also a usability nightmare.

See also https://bugs.launchpad.net/ubuntu/+source/ubuntu-themes/+bug/1537047/

[2017-08-27 19:25] flexiondotorg commented on #16
I can still see something that is making the header bar have squared corners. That said every other theme I've tested gives gThumb squared corners on the headerbar.

![gthumb-headerbar](https://user-images.githubusercontent.com/304639/29753253-19f84538-8b65-11e7-9a67-5e67d23e4400.png)

I agree this is an upstream issue.

[2017-08-27 19:25] #16 closed, assigned to nobody

[2017-08-27 19:31] flexiondotorg commented on #4
I've tested but can't tell the difference. I mean light as in not heavy. So I would prefer to use a grey dotted line in stead of green.

[2017-08-27 20:03] ghost commented on #12
@fitojb can LO render correctly my focus ring code?

[2017-08-28 15:58] raveit65 commented on #4
branch is updated + rebased.
Please test again.

[2017-08-29 18:38] flexiondotorg commented on #4
Much better and consistent with the other keyboard navigation hints. Thank you!

[2017-08-29 18:38] #4 closed, assigned to nobody

[2017-10-04 12:49] muktupavels commented on #6
Metacity 3.26 does not use combo box in theme viewer. :)

[2017-11-14 18:44] flexiondotorg opened #17 "Draw buttons around close icons in notebooks when hovering"
Close icons (the crosses) in notebooks should have a button drawn around them when hovered over, just like the speaker and microphone icons and toolbar icons do in Page 2 of `gtk3-widget-factory`.

@raveit65 This issue affects all three themes.

[2017-11-15 08:11] raveit65 commented on #17
@flexiondotorg
I will take a look into it and i hope it is possible.
No promise for application like firefox or openoffice as they do not use Gtk-Widgets in favor of their own baked gtk3 stuff.

[2017-11-15 08:16] flexiondotorg commented on #17
I'm really only interested in proper GTK applications, in particular Pluma, Caja, MATE Terminal.

It is possible, the Ambiance theme does it. But it is not very pretty 😉

[2017-11-17 08:35] raveit65 commented on #17
@flexiondotorg
It seems to be possible to use another icon as we have a selector here for the notebook  tab-button.
In general the icon arew defined by the icon theme, so i am still wondering that Ambiance use a different icon. ubuntu-mono-dark theme use the same icon for window-close icon here.
And i see the same icon in caja tabs with Ambiant-Mate or Ambiance.
Screenshot of the icon in Ambiance

[2017-11-17 11:16] flexiondotorg commented on #17
@raveit65 The monochrome  close icon that is being used by Ambiant-MATE, Radiant-MATE and Ambiant-MATE-Dark should continue to be used. It looks like this currently:

![notebooks](https://user-images.githubusercontent.com/304639/32943381-d7cfeee0-cb83-11e7-869c-bf861be3a782.png)

What I am requesting is the close icon has a button surround added when hovered over. You can use Notifications to demo

[2017-11-17 23:05] flexiondotorg commented on #17
Closed via https://github.com/ubuntu-mate/ubuntu-mate-artwork/commit/c92b32c0b812cf2d4911614a468fd27fd230e158

[2017-11-17 23:05] #17 closed, assigned to nobody

[2017-12-29 19:04] ghost commented on #8
Is placing the text inside the progress bar impossible in GTK+ 3?

[2017-12-29 19:51] raveit65 commented on #8
Was this ever possible with gtk+-2 ?

[2017-12-29 20:10] ghost commented on #8
@raveit65 The right-side example :p

[2017-12-29 20:31] raveit65 commented on #8
I don't think it's possible, btw. there is no otion to display it inside the progressbar here.
https://developer.gnome.org/gtk3/unstable/GtkProgressBar.html
It's only possible to set another text than % value or disable the text.
gtk_progress_bar_set_show_text ()
gtk_progress_bar_set_text ()

[2017-12-29 20:43] ghost commented on #8
That's a bummer. The progress bar with text above looks very clunky in gtk+ 3, ever thought of removing it, like it was in GNOME 2?

![lx4rp](https://user-images.githubusercontent.com/13562431/34447111-148f35a6-ecc8-11e7-8fad-ef0baa8abb50.png)

[2017-12-30 09:06] raveit65 commented on #8
Guys, why not doing this for yourself?
[rave@mother ~]$ gsettings get org.mate.session logout-timeout
0
😃

[2017-12-30 09:07] raveit65 commented on #8
Or ask your Chief to add this key to mate-tweak.

[2017-12-30 15:13] ghost commented on #8
@raveit65 What i am proposing is removing the progress bar, not the logout timeout... Sorry if i'm being inconvenient.

[2017-12-30 15:40] raveit65 commented on #8
@mrnhmath
Did you really test this key?
Setting logout-time to zero hides the progressbar.
I am really in doubt that most MATE users wants the progressbar removed in general, only because of a personal style taste.

[2017-12-30 15:50] ghost commented on #8
Yes i did! It also removes the "You are currently logged in..." text.

[2017-12-30 16:34] lah7 commented on #8
I give a +1 to @mrnhmath's suggestion. Instead of a progress bar counting down, it would aesthetically look more like the original experience if the text changed while counting down.

I secretly wish the GTK3 dialogues would look like its GTK2 (GNOME 2) counterparts :blush: (including that icon and left aligned text)

[2017-12-30 16:53] ghost commented on #8
I should make a separate issue regarding progress bar removal and the missing icon.

I don't know why the gtk+ guys thought center aligned text in message dialogs was a good idea 🤷‍♂️  Even elementary had to fork it (Granite.MessageDialog) to maintain a saner experience.

[2018-01-07 17:59] ltcmdata opened #19 "Cursor almost invisible while renaming files in Caja with Ambiant-MATE-Dark"
#### Expected behaviour
The cursor should be clearly visible.

#### Actual behaviour
Cursor is almost the same color as the background, so practically invisible.

#### Steps to reproduce the behaviour
Choose Ambiant-Mate-Dark as theme. Rename a file in Caja.

#### MATE general version
1.18.0

#### Linux Distribution
Ubuntu MATE 17.10

[2018-02-26 04:02] mdmayfield opened #20 "Ambiant-MATE and Radiant-MATE all menus bold with vala-panel-appmenu 0.7+"
#### Expected behaviour
vala-panel-appmenu's new preference in v0.7+, to put the application name menu in boldface, affects only the application menu.

#### Actual behaviour
For Ambiant-MATE and Radiant-MATE themes, the entire menu becomes either plain text or boldface according to the preference checkbox. For other themes, the application menu alone is affected as expected.

---

The cause is in

[2018-02-26 18:18] #20 closed, assigned to nobody

[2018-03-02 09:23] flexiondotorg commented on #3
@raveit65 Your experise is requested please :smile: Something in the theme is causing the light borders. Here are some screen grabs of MATE System Monitor and vala-panel-appmenu using Ambiant-MATE, Ambiant-MATE-Dark and BlackMATE.

The light borders are only present in Ambiant-MATE, I'm guessing some higher level class is causing this. I have a vague memory of something changing in the Ambiant-MAT

[2018-03-02 12:31] flexiondotorg opened #21 "Clock applet doesn't honor transparent panel background"
The Clock applet on a transparent panel is not transparent when using the Ambiant-MATE and Ambiant-MATE Dark, Radiant-MATE does honor the transparent background.

![transparent panel](https://user-images.githubusercontent.com/304639/36899135-a54dab12-1e15-11e8-842c-258576f2a2dd.png)

[2018-03-02 16:26] Dolsilwa commented on #21
In mate-applications.css, in "clock-applet" (line 275), changing background-color to transparent or inherit solves this problem. After change it should look like this:

/* clock-applet */
.mate-panel-menu-bar #PanelApplet #clock-applet-button.flat.toggle,
.mate-panel-menu-bar #PanelApplet #clock-applet-button.flat.toggle:hover {
    background-color: transparent;
    background-image: none;
    bo

[2018-03-02 21:21] flexiondotorg commented on #21
Thank you for the solution @Dolsilwa :smile:

[2018-03-02 21:29] #21 closed, assigned to nobody

[2018-03-03 00:54] flexiondotorg opened #22 "Pop down notifications are not styled correctly."
If you start `gtk3-widget-factory` and goto Page 2 set the spinner in the top left of the page to 45. This will make a popdown appear. The popdown and the button within it are not styled correctly. This issue affects Ambiant-MATE, Ambiant-MATE-Dark and Radiant-MATE.

## Ambiant-MATE

The popdown color is correct in Ambiant-MATE but the buttons are not styled correctly. Can the border around the te

[2018-03-03 11:36] Dolsilwa commented on #22
In Ambiant-MATE, in gtk-widgets.css, changing background-image (in .app-notification button, line 754) to "none" fixes problem with dark background on buttons in popdown (app-notification widget).  You should also change border-color to "transparent" to get rid of blue border around buttons. And change box-shadow to "none" to get rid of lightborder.
after change it should look like this:

.app-not

[2018-03-04 07:30] raveit65 commented on #3
@flexiondotorg
How can i update a 17.10 VM to latest 18.04 without reinstalling?

[2018-03-04 08:08] flexiondotorg commented on #3
`update-manager -dc`

[2018-03-04 08:59] raveit65 commented on #3
@flexiondotorg
Can i delete this files ?
root@ubuntu:/home/rave/Schreibtisch# ls /etc/apt/sources.list.d
flexiondotorg-ubuntu-playground-zesty.list
flexiondotorg-ubuntu-playground-zesty.list.distUpgrade

[2018-03-04 12:09] flexiondotorg commented on #3
Yes.

[2018-03-04 13:13] raveit65 commented on #3
rave@ubuntu:~/Schreibtisch$ mate-tweak
Window Manager is: marco
Gtk-Message: 14:09:46.565: Failed to load module ""unity-gtk-module""

Ho do i enable vala-panel-appmenu global menu applet ?

[2018-03-04 13:18] raveit65 commented on #3
Found it , but how do i enable the menus in global menu applet at the panel?

[2018-03-04 18:57] raveit65 commented on #3
Sorry, i have no idea to enable the menus in 18.04 like in your screenshots.
![global-menu](https://user-images.githubusercontent.com/961604/36949258-15185736-1fe6-11e8-87d5-ad543b924864.png)
I see only the label of the application.

[2018-03-04 21:08] flexiondotorg commented on #3
The global menu is fixed upstream. The separator has been made transparent. The remaining issue is the system monitor applet.

[2018-03-04 21:13] raveit65 commented on #3
How should i fix https://github.com/mate-desktop/mate-themes/issues/207 without working global menu applet ?

[2018-03-04 21:22] flexiondotorg commented on #3
Ah, OK. You'll need a dev build. Sorry, I forgot about that bug for mate-themes.

sudo apt-add-repository ppa:flexiondotorg/playground
sudo apt update
sudo apt upgrade

Reboot. The global menu should work automatically now.

[2018-03-04 21:51] raveit65 commented on #3
Btw, from irc channel today:
[code]

[2018-03-05 10:02] raveit65 commented on #3
Same as before if using packages from playground ppa.
The menus are shown in eg. mate-terminal and not at the panel.
I use traditional panel layout and added the applet via add-to-panel dialog.
Those gsettings keys are enabled
[code]
No, idea to debug this....

[2018-03-05 16:05] raveit65 commented on #22
Please do not test, this is to bad :)
https://github.com/ubuntu-mate/ubuntu-mate-artwork/pull/23/commits/8b8cd02be0af5e4b30f9f0c6971140ab404c09aa

[2018-03-05 17:42] flexiondotorg commented on #22
@raveit65 Looks great, thanks! Please go ahead and give Ambiant-MATE-Dark and and Radiant-MATE similar treatment :smile:

[2018-03-05 18:28] raveit65 commented on #19
Please test https://github.com/ubuntu-mate/ubuntu-mate-artwork/pull/24

[2018-03-05 18:38] flexiondotorg commented on #19
Fixed via #24

[2018-03-05 18:38] #19 closed, assigned to nobody

[2018-03-05 23:32] flexiondotorg commented on #22
Close by #23

[2018-03-05 23:32] #22 closed, assigned to nobody

[2018-03-06 19:58] raveit65 commented on #3
Please test https://github.com/ubuntu-mate/ubuntu-mate-artwork/pull/25
and
https://github.com/mate-desktop/mate-applets/commit/147ca93e4d36337b311ee592a1a142dde8e5ded0

[2018-03-07 08:52] #3 closed, assigned to nobody

[2018-03-07 13:34] raveit65 commented on #21
For the record, this issue was introduced by maintainer wish :)
https://github.com/ubuntu-mate/ubuntu-mate-artwork/issues/2
https://github.com/ubuntu-mate/ubuntu-mate-artwork/commit/f283a6db604c9468e06aa44750edcc9cb90ac8d0

[2018-03-25 18:35] brokoli-mate opened #26 "Ambiant-MATE and Radiant-MATE CSD"
close,minimize,maximize buttons have ellipse, but not circle form.

[2018-03-28 12:55] flexiondotorg opened #27 "Insensitive menu entries are "blurry" in Radiant-MATE"
When using the Radiant-MATE theme, insensitive menu items have a blurred font.

![menu_002](https://user-images.githubusercontent.com/304639/38030009-4f765156-328f-11e8-9ee3-feb42e46d452.png)

You can `apt install geany` and then use `geany` as the test case.

This bug was originally raised in Launchpad:

  * https://bugs.launchpad.net/ubuntu/+source/ubuntu-mate-artwork/+bug/1749750

@raveit65 Ple

[2018-03-28 13:04] flexiondotorg opened #28 "Checked checkboxes in Radiant-MATE menus are illegible"
Using the Radiant-MATE theme, Open Caja and look a the View menu. Any check boxes in the menu are a white icon and difficult to see on the light background.

![menu_001](https://user-images.githubusercontent.com/304639/38030588-e9e4db3a-3290-11e8-9ffd-10d161959be1.png)

This bug was originally raised on Launchpad:

  * https://bugs.launchpad.net/ubuntu/+source/ubuntu-mate-artwork/+bug/1749749

@ra

[2018-03-28 13:14] flexiondotorg opened #29 "Ambiant-MATE-Black has unreadible fonts in detect monitor labels"
When using Ambiant-MATE-Dark and then opening Monitor Preferences and clicking **Detect monitors** the monitor tags are very hard to read.

![detect_monitor](https://user-images.githubusercontent.com/304639/38031036-32d140da-3292-11e8-90da-35598a763750.png)

This bug was originally posted on Launchpad:

  * https://bugs.launchpad.net/ubuntu/+source/ubuntu-mate-artwork/+bug/1706947

@raveit65 Pleas

[2018-03-28 13:31] flexiondotorg opened #30 "Brisk Menu session buttons are rectangular and not a consistent size"
The session action buttons at the buttons of Brisk Menu are rectangular, no the same size as each other and don't match the button styling used elsewhere. This issue affects Ambiant-MATE, Ambiant-MATE-Dark and Radiant-MATE.

![brisk-session-buttons](https://user-images.githubusercontent.com/304639/38031783-faf751b6-3293-11e8-95ef-0ae43c88cee1.png)

Instead of the solid green can the buttons be sty

[2018-03-30 09:23] raveit65 commented on #27
Why geany? Pluma is the rule :)
This is simply a text-shadow.
It looks a bit weird if grey out with insensitive state.

[2018-03-30 09:39] raveit65 commented on #27
Please test.

[2018-03-30 09:56] flexiondotorg commented on #27
Perfect, thank you!

[2018-03-30 09:56] #27 closed, assigned to nobody

[2018-03-30 11:29] raveit65 commented on #28
Please test
https://github.com/ubuntu-mate/ubuntu-mate-artwork/pull/32

[2018-03-30 14:19] raveit65 commented on #29
Please review https://github.com/mate-desktop/mate-desktop/pull/309

[2018-03-30 15:50] flexiondotorg commented on #28
Looks great, thank you!

[2018-03-30 15:51] #28 closed, assigned to nobody

[2018-03-30 19:02] flexiondotorg commented on #29
Thanks @raveit65! mate-desktop/mate-desktop#309 works a treat!

[2018-03-30 19:02] #29 closed, assigned to nobody

[2018-03-31 07:18] raveit65 commented on #30
@ikeydoherty
Can we have a styleclass for this button?
To make it possible to use a independent button styling without matching the buttons in categories/apps-list.

Edit: sadly your application isn't viewable with gtk3-inspector.

[2018-04-03 09:04] raveit65 commented on #30
@flexiondotorg
First you need to add this commit to your build
https://github.com/solus-project/brisk-menu/pull/89
Then i can style the session buttons.

[2018-04-03 12:20] raveit65 commented on #30
https://github.com/ubuntu-mate/ubuntu-mate-artwork/pull/34
Please test.
Maybe you like to use this patch for ubuntu too?
https://www.dropbox.com/s/973d10keqckcge9/brisk-menu_0001-classic-use-standard-log-out-icon.patch?dl=0
This brings back the normal log-out icon.

[2018-04-04 08:00] flexiondotorg commented on #30
Much better. Thank you!

[2018-04-04 08:03] #30 closed, assigned to nobody

[2018-04-28 01:42] moocan opened #35 "Above/Shade/Stick artwork"
Hello,

Could you add artwork for above, shade and stick titlebar button ?
When these options are activated in button-layout there is no icon.

Kind Regards

[2018-05-05 03:06] jt1796 opened #36 "migrating Ambiant-MATE-Dark to official themes repo"
This isn't a real issue, but was wondering if there are any objections to moving the Ambiant-MATE-Dark theme (https://github.com/ubuntu-mate/ubuntu-mate-artwork/tree/master/usr/share/themes/Radiant-MATE) into the official mate themes (https://github.com/mate-desktop/mate-themes/tree/master/desktop-themes). I'll move it if none.

The reason I ask is because I think this theme is really good, and it

[2018-05-05 19:39] evancox10 opened #37 "Blank Background for LightDM GTK+ Greeter on Bionic"
I think there's a missing dependency when using the theme for LightDM GTK+ Greeter provided in this package on bionic. The [MATE theme conf file](https://github.com/ubuntu-mate/ubuntu-mate-artwork/blob/master/etc/lightdm/lightdm-gtk-greeter.conf.d/99_ubuntu-mate.conf) for gtk-greeter specifies the wallpaper `/usr/share/backgrounds/ubuntu-mate-artful/Ubuntu-Mate-Northern-Lights.jpg`. However, your

[2018-05-09 07:05] flexiondotorg commented on #36
These themes are maintained by the Ubuntu MATE team. Upsteam MATE have limited resources and don't have the capacity to maintain additional themes.

[2018-05-09 07:06] #36 closed, assigned to nobody

[2018-05-09 07:09] flexiondotorg commented on #37
Since Ubuntu MATE 17.10 we've used slick-greeter. Upgrades from earlier releases should have removed `lightdm-gtk-greeter` but if that package was not automatically removed from your system please do so manually 🙂

[2018-05-09 07:09] #37 closed, assigned to nobody

[2018-05-20 15:44] Dolsilwa commented on #26
Hi,
Maybe this not solve this problem and is only a workaround, but i've added those lines to gtk-widgets.css:

.titlebar button.titlebutton {
    margin-left: -2px;
    margin-right: -2px;
    min-width: 15px;
    min-height: 15px;
    max-width: 15px;
    max-height: 15px;
}

And now my titlebuttons in headerbar looks correctly:
![zrzut ekranu z 2018-05-20 17-39-35](https://user-images.githubuse

[2018-07-14 19:14] mdmayfield opened #38 "eOS window decoration theme: glitches when using Compiz"
I'm afraid I don't know exactly which project owns this; it looks like it could be here, mate-desktop/mate-themes, or somewhere in the Compiz or Elementary projects. If this is not the right place, can anyone please help point me in the right direction?

This is Ubuntu MATE 18.04 LTS, latest package updates as of 2018-07-14.

## Issue
On Marco or no compositor, the eOS window decorations look most

[2018-09-28 01:31] #26 closed, assigned to nobody

[2018-09-28 02:51] flexiondotorg commented on #38
The theme you reference is not part of this project.

[2018-09-28 02:51] #38 closed, assigned to nobody

[2018-11-09 15:37] ghost opened #39 "Ambiant-Mate Theme GTK.css error Junk"
I use "Ambiant-Mate" Theme and have got errors in Log-File-Manager:

mate-notificati[14624]: Theme parsing error: gtk.css:27:49: Junk at end of value for background-color
mate-notificati[14624]: Theme parsing error: gtk.css:40:55: Junk at end of value for background-color
mate-notificati[14624]: Theme parsing error: gtk.css:48:54: Junk at end of value for background-color
mate-notificati[14624]: T

[2018-11-10 10:35] flexiondotorg commented on #39
What version of Ubuntu MATE are you using?

[2018-11-10 12:08] ghost commented on #39
18.04 with 4.15.0-38-generic

installed:
mate-themes - 3.22.16-4ubuntu1
ubuntu-mate-icon-themes - 18.04.11
ubuntu-mate-themes - 18.04.11

[2018-11-13 21:42] flexiondotorg commented on #39
Which log file are you seeing these messages in? I can't reproduce the issue.

[2018-12-07 17:53] ghost commented on #39
when I type in terminal "caja or opera etc."

terminal shows:
(opera:51773): Gtk-WARNING **: 18:53:28.467: Theme parsing error: gtk.css:27:49: Junk at end of value for background-color

(opera:51773): Gtk-WARNING **: 18:53:28.467: Theme parsing error: gtk.css:40:55: Junk at end of value for background-color

(opera:51773): Gtk-WARNING **: 18:53:28.467: Theme parsing error: gtk.css:48:54: Junk at e

[2018-12-07 17:54] ghost commented on #39
How can I fix the gtk.css errors?

[2019-04-02 21:23] flexiondotorg commented on #39
This is a bug in Opera, not the Ubuntu MATE themes.

[2019-04-02 21:23] #39 closed, assigned to nobody

[2019-05-09 23:01] flexiondotorg opened #41 "MonoSpaced text in GtkSourceView context menus"
Monospaced text appears in Gedit's (and Pluma < 1.22) content menu.

![ambiant-gedit-content-menu](https://user-images.githubusercontent.com/304639/57491906-a0dd9000-72b6-11e9-9450-7cbd1a6ede2c.png)

It is caused by theming of GtkSourceView component, see the bug for details:

  * https://gitlab.gnome.org/GNOME/gtksourceview/issues/52

And this commit for more information:

  * https://gitlab.gnom

[2019-05-09 23:12] flexiondotorg opened #42 "Small Folder expansion arrows"
The arrows used to expand folders are very small, and not vertically centred, when using the Ambiant-MATE, Ambiant-MATE Dark and Radiant-MATE themes:

**Ambiant-MATE**

![ambiant-folder-arrows](https://user-images.githubusercontent.com/304639/57492257-1302a480-72b8-11e9-8cab-23b8161d34d9.png)

**Blue SubMarine**

![submarine-folder-arrows](https://user-images.githubusercontent.com/304639/57492269-

[2019-05-09 23:15] flexiondotorg opened #43 "Headerbar divider is not correctly styled"
GNOME Disks and Tilix Preferences use a headerbar divider that is not correctly styled in the Ambiant-MATE and Radiant-MATE themes. The Ambiant-MATE Dark theme looks OK, probably by accident :wink:

![ambiant-headerbar-divider](https://user-images.githubusercontent.com/304639/57492357-6bd23d00-72b8-11e9-9f1c-ce5e04b1c523.png)

tagging @raveit65

[2019-05-09 23:20] flexiondotorg opened #44 "Tilix context menu incorrect button styling in popover."
The Tilix terminal split screen button is not correctly styled in the context menu popover when the button is not being hovered over.

**Not hovering**

![ambiant-tilix-context-nothover](https://user-images.githubusercontent.com/304639/57492501-ec913900-72b8-11e9-9f2a-c5ee93087cc8.png)

**Hovering**

![ambiant-tilix-context-hover](https://user-images.githubusercontent.com/304639/57492508-ef8c2980-

[2019-05-09 23:28] flexiondotorg opened #45 "Text selection in dialog windows have low contrast"
Launch `mate-terminal`, select *Help*, *About*, select text *A terminal emulator for the MATE desktop*.

Expected results:

* selected text has good contrast

![traditional-dialog-selection](https://user-images.githubusercontent.com/304639/57492840-578f3f80-72ba-11e9-9dd5-b221da7af7a2.png)

Actual results:

* selected text has low contrast

![ambiant-dialog-selection](https://user-images.githubuse

[2019-05-10 01:55] flexiondotorg opened #46 "Inconsistent OK button styling"
On Ubuntu MATE 19.10 with MATE Desktop 1.22, OK buttons are not styled consistently when using the Ambiant MATE, Ambiant MATE Dark and Radiant MATE themes. See this example where the OK button in *Appearance Preferences* is correctly styled but the OK button in *Startup Applications* has a small `x` instead.

![ambiant-close-buttons](https://user-images.githubusercontent.com/304639/57497202-933404

[2019-05-10 13:20] #45 closed, assigned to raveit65

[2019-05-10 13:22] raveit65 commented on #45
This should fix the issue. Please test.
Sorry i forgot to open a PR :)

[2019-05-10 16:16] raveit65 commented on #44
This is different with 19.04 again. Looks good for me with Ambient-Mate and A-M-D and Radiant-Mate use a non color button.
![Ambiant-mate](https://user-images.githubusercontent.com/961604/57537514-b8fcf000-7346-11e9-81d9-99c248da5a92.png)
![a-m-d](https://user-images.githubusercontent.com/961604/57537525-c023fe00-7346-11e9-938a-e7992e7b2658.png)
![r-m](https://user-images.githubusercontent.com/961

[2019-05-10 16:41] flexiondotorg commented on #44
The issue is only present when *not* hovering over the button.

[2019-05-10 17:43] raveit65 commented on #46
Please test https://github.com/ubuntu-mate/ubuntu-mate-artwork/pull/47

[2019-05-10 17:52] raveit65 commented on #44
My guess is that we see the `suggested-action` styling for a button, probably a change in `popover` widget of gtk+ or Tilix.
What do want to see if button is in normal state?
Same like with 19.04?

[2019-05-10 20:37] #46 closed, assigned to raveit65

[2019-05-11 11:19] raveit65 commented on #44
https://github.com/ubuntu-mate/ubuntu-mate-artwork/pull/48
Please test.

[2019-05-11 13:11] #44 closed, assigned to raveit65

[2019-05-11 13:15] raveit65 commented on #43
https://github.com/ubuntu-mate/ubuntu-mate-artwork/pull/49
Please test.

[2019-05-11 13:47] #43 closed, assigned to raveit65

[2019-05-11 14:13] raveit65 commented on #42
Please test and let me know which expander size you prefer.
https://github.com/ubuntu-mate/ubuntu-mate-artwork/pull/50

[2019-05-11 14:38] #42 closed, assigned to raveit65

[2019-05-11 14:52] raveit65 commented on #41
Please test https://github.com/ubuntu-mate/ubuntu-mate-artwork/pull/51

[2019-05-11 15:11] #41 closed, assigned to raveit65

[2019-05-13 09:32] N0rbert opened #53 "feature request: port human-theme to GTK3 and ship it as part of MATE themes"
I'm not sure how many people will be happy as the result, but for me it would be really great if MATE will port `human-theme` to GTK3 and include it to theme package.
There is already a good guide for doing so [on AskUbuntu](https://askubuntu.com/a/1115019/66509).

It transforms broken gray theme
 ![](https://i.stack.imgur.com/PJMAT.png)
into nice looking orange  theme
![](https://i.stack.imgur.co

[2019-05-13 11:11] flexiondotorg commented on #53
Sorry, the Ubuntu MATE team will not be taking on the responsibility of uplifting old 3rd party GTK2 themes to GTK3, it is simply too much work.

[2019-05-13 11:11] #53 closed, assigned to nobody

[2019-05-13 11:18] N0rbert commented on #53
OK, no problem :)
May be I'll create a PPA for this pretty nice old theme :)

[2019-05-21 10:24] flexiondotorg opened #56 "Gedit popover with Radiant-MATE doesn't highlight hover over"
This issue appears to be related to #44 and only affects the Radiant-MATE theme. When hovering over buttons in popovers, there is no obvious distinction.

## Radiant MATE

There is no obvious change in button presentation as you hover the mouse between the Undo, Print and Fullscreen buttons.

![gedit-radiant-mate-popover](https://user-images.githubusercontent.com/304639/58088396-8494f980-7bba-11e9

[2019-05-21 11:46] raveit65 commented on #56
This normal button style for Radiant theme.
Or do you see a normal green button somewhere else when hovering?
For me only the green border when hovering looks wrong.
But if you like to have a green button for popovers i can change that :)

[2019-05-21 12:01] flexiondotorg commented on #56
A green border would be fine, but I don't see 🙈 anything obvious right now 🙂

[2019-05-23 14:17] raveit65 commented on #56
This is with 19.10 here.
![gedit-randiant-mate-19 10](https://user-images.githubusercontent.com/961604/58260128-30cf0f80-7d76-11e9-80f2-c0a39b59bced.jpg)
I will improve it.
Ok, latest Radiant-Mate from master doesn't have this border :)
Edit again:
When gedit is in foreground i see those thin green border lines.

[2019-05-29 18:32] #56 closed, assigned to nobody

[2019-07-06 18:16] gabrielfin opened #58 "GtkTreeView: sometimes "hover" style overrides "selected" style"
Using Ambiant-MATE (or Ambiant-MATE-Dark), GtkTreeView rows have a light green background when hovered, and a dark green background when selected. A row that is selected *and* hovered should use the dark background. Most of the time that works ok, but sometimes the light background is used.

Here is a video reproducing the issue:
https://i.imgur.com/rQxtMR8.mp4

**Steps to reproduce:**
1. Enable A

[2019-08-15 13:54] fedemp opened #59 "Missing icon for secure wired and secure wireless connections"
When I'm connected to a VPN, even through a wireless or wired connection, the connection in icon the status area does not show a lock. However it does while connecting.

Using out-of-the-box Ubuntu Mate 19.04

Similar issues:
* https://github.com/shimmerproject/elementary-xfce/issues/104
* https://bugs.launchpad.net/ubuntu/+source/xubuntu-artwork/+bug/1796183

[2019-09-07 21:41] flexiondotorg commented on #59
Fixed via 8c4389338f5f3bff52c15cdd8770c814a0ca9aa7

[2019-09-07 21:41] #59 closed, assigned to nobody

[2019-10-05 11:58] medmedin2014 opened #60 "Firefox wrong window buttons with CSD"
When using Firefox 69.0.2 with CSD and selecting Ambiant or Radiant themes, the window buttons are not displayed correctly, I use Ubuntu Mate 19.10 - 64bits.
![Screenshot at 2019-10-05 00-26-05](https://user-images.githubusercontent.com/7027319/66254552-a5c44400-e76f-11e9-8d68-dbabe1a5c792.png)

![Screenshot at 2019-10-05 10-27-23](https://user-images.githubusercontent.com/7027319/66254554-aceb520

[2019-10-09 22:35] lah7 opened #62 "Unfocused text label hard to read on Caja desktop"
[19.10.10] On the Caja desktop, the background and text colour clash when selecting an icon and setting focus on a different window.

![image](https://user-images.githubusercontent.com/13032135/66525336-14492f00-eaed-11e9-8a59-ce66568e5b91.png)

The text/background colour doesn't clash within Caja windows though.

![image](https://user-images.githubusercontent.com/13032135/66525472-7efa6a80-eaed-1

[2019-11-05 19:58] fedemp opened #63 ""Create reminder" dropdown in Evolution is not readable"
![Screenshot at 2019-11-05 16-19-36](https://user-images.githubusercontent.com/735314/68241168-f89e4f00-ffec-11e9-8a6a-ecd3486e318a.png)

To reproduce:
* Open Evolution (no need to create an account).
* Select from the menu: File > New > Appointment
* Select "Reminders" tab
* Click the "+" button.

Aside from the inputs having light grey text on white, should buttons also have a dark background to

[2020-02-26 11:19] RudraSwat commented on #62
Yeah, find that strange too... But when using a Zenbook Duo (my main dual-display work laptop), it is the reverse. The text is black and the selection becomes black. This way, you cannot read at all. The text is not visible at all.

![Desktop](https://user-images.githubusercontent.com/26926757/75339734-1999f100-58b7-11ea-8b67-f8fc0bb2fbee.png)

In Caja, it is better like you said.

![Caja](https:/

[2020-03-05 23:32] lah7 commented on #62
I think I've found some CSS that would "fix" the situation... the trouble is, it doesn't work when put into the theme file! Something else is forcing the white text due to the cascading nature of CSS.

[code]

I find it odd since the **Ambiant-MATE-Dark** theme works OK, and they're pretty similar. **Radiant-MATE** suffers from this bug too.

[2020-03-21 16:06] #62 closed, assigned to nobody

[2020-04-16 10:06] stuartlangridge opened #64 "Package for Flatpak"
When flatpak packages are installed, they do not honour the system theme on Ubuntu MATE. Flatpak apparently will install a flatpak package of a theme if there is one available so that apps look correct on a given desktop, but the Ubuntu MATE themes are not so packaged and so they're not available. It seems that a theme should be packaged as `org.gtk.Gtk3theme.*`, so `org.gtk.Gtk3theme.Ambiance-MAT

[2020-04-16 18:57] ghost opened #65 "Indicator Applet wifi vpn icon"
![Screenshot at 2020-04-10 17-49-27](https://user-images.githubusercontent.com/60102375/79495283-a8f49280-8024-11ea-8c02-c60913cd2556.png)

After connected to vpn wifi icon disappears in network-manager indicator

[2020-04-16 20:38] lah7 commented on #65
Attempted to add [some missing icons](https://github.com/ubuntu-mate/ubuntu-mate-artwork/commit/9dc132a35744ceb593963c1bff6a264b79e57511) from `ubuntu-mono-dark` and `ubuntu-mono-light`, but still not showing in 20.04. 19.10 is fine. Needs further investigation.

[2020-04-17 04:55] ghost commented on #65
When changed to new colors theme like  Ambiant Orange or Purple icon shows right. Screenshot with new theme.
![Screenshot at 2020-04-17 06-51-11](https://user-images.githubusercontent.com/60102375/79533458-36150700-8078-11ea-83ba-8c7d7eb64b2c.png)
 right

[2020-04-17 13:02] lah7 commented on #65
Hmm, that's even more confusing - the [`ubuntu-mate-colours`](https://github.com/lah7/ubuntu-mate-colours) project is pretty much an overlay that inherits Ambiant-MATE. :confused:

[2020-04-19 10:33] flexiondotorg commented on #65
What version of Ubuntu MATE are you using?

[2020-04-19 10:37] ghost commented on #65
20.04

[2020-05-12 23:59] Neverest opened #67 "Some icons dont fit on the panel properly or they get blurry"
Been trying out Ubuntu Mate 20.04 and noticed that some icons don't fit the panel properly on certain sizes. From getting cut off to going blurry.

![icons](https://user-images.githubusercontent.com/13340767/81756766-a9007a80-948a-11ea-85b7-6f62bb25b713.gif)

Above programs are obs, qbittorrent and keepassxc. Starts on the panels default size which is 28 pixels.

[2020-05-26 10:44] pohmelie commented on #65
I approve, that #66 fixes the issue for me. Not sure why it is not merged yet.

[2020-05-26 12:15] #65 closed, assigned to nobody

[2020-06-17 08:36] JuliaLawall opened #68 "missing font colors in Ambiant Mate Dark"
The xml file with the font colors for Ambiant Mate Dark is missing a lot of information.  Applications then seem to use the system defaults, which results in text, particularly in red and blue, that is unreadable in a dark theme.  Some undefined tags are:

[code]
The software that uses the above tags is rather specialized, but I see the same problem with emacs - the messages generated in the line

[2020-08-10 13:16] lah7 opened #69 "Ambiant-MATE-Dark - transmission-gtk - TreeView hover text colour too light"
In an application like Transmission, the text colour when **hovering** over the TreeView item is too light.

![Screenshot_20200810_141122](https://user-images.githubusercontent.com/13032135/89786188-73177480-db13-11ea-87c5-e3bfcbb48bca.png)

The **selected** text colour is OK:
![Screenshot_20200810_141352](https://user-images.githubusercontent.com/13032135/89786378-ba056a00-db13-11ea-8101-ad4c4257

[2020-08-24 23:21] flexiondotorg commented on #67
This is not an issue with the Ubuntu MATE artwork package, please raise this bug in https://github.com/mate-desktop/mate-indicator-applet :+1:

[2020-08-24 23:21] #67 closed, assigned to nobody

[2020-11-28 22:14] madhens opened #70 "Add README.md"
Just a placeholder note to remind us to add a README.md with the instructions on packaging taken from Wimpy's World video from Nov 28.

[2021-01-15 10:57] lah7 opened #71 "[>=20.04] Inconsistent tab styles in Synaptic"
Ambiant-MATE and Radiant-MATE have inconsistent tab styles that is not seen with other MATE themes. Ambiant-MATE-Dark is affected too, but is not as bad.

To replicate, install Synaptic and enable "Show package properties in main window" in Preferences.

The tabs on the main window are inconsistent with tabs in the dialog box:

:x: **Affects 20.04/21.04:**

The first set of tabs behind the window

[2021-01-18 13:59] nothingneko commented on #64
I can take this over if you'd like, I'll cut the wallpapers and unnecessary bits.

[2021-03-03 05:01] ro1y opened #72 "Will Ambiant MATE get updated for GTK 4.0?"
I prefer Ambiant over Yaru, and I really hope you keep it available for the future.

[2021-03-03 10:41] mz1193 commented on #72
Even though I like the new Yaru theme myself, I'm seconding this. I know maintaining themes is hard work, but in my opinion the Ambiance theme family is one of the best ever designed and it would be sad to see it fall by the wayside.

[2021-03-03 11:38] lah7 commented on #71
Another example is the **GTK+ Demo** (from `gtk-3-examples`)

Here, the "Info" tab is selected.

![Screenshot_20210303_113746](https://user-images.githubusercontent.com/13032135/109800297-e221fb00-7c14-11eb-98ef-8a3ee076de39.png)

[2021-03-05 09:37] ouryperd opened #73 "[Feature request] Add green window buttons to compliment the green theme"
Up to 16.04 I used the RaveFinity Ambiance/Radiance themes to get green buttons.

https://www.ravefinity.com/p/download-ambiance-radiance-colors.html

[2021-04-01 17:49] lah7 opened #74 "[21.04] Yaru-MATE-dark: Incorrect background colour for Caja location text box"
In Caja, press CTRL+L to toggle the location bar. On Yaru-MATE-dark, the text box should be a dark background, but it currently is white and clashes with the text colour.

![Screenshot_20210401_183654](https://user-images.githubusercontent.com/13032135/113332780-88971400-9319-11eb-901d-22401bfbf34b.png)
![Screenshot_20210401_183453](https://user-images.githubusercontent.com/13032135/113332783-89c8

[2021-04-02 13:57] saivinob commented on #74
I have seen the opposite too. Yaru MATE Light having dark location bar bg. It is happening when we are changing from light to dark or dark to light (but not consistently enough). If we logout and re-login, it gets corrected (for both scenarios). 21.04.6 as well.

![Screenshot at 2021-04-02 19-15-30](https://user-images.githubusercontent.com/54169365/113421768-46d59e80-93e9-11eb-947d-1c01214d3487.p

[2021-04-02 18:09] juhler64 commented on #74
Went from Yaru Dark to light and can see the issue as well.

![image](https://user-images.githubusercontent.com/70597395/113441886-06f8c200-93bd-11eb-89b5-2f8a9c472925.png)

[2021-04-02 21:39] franksmcb commented on #74
Opened issue report with ubuntu/yaru https://github.com/ubuntu/yaru/issues/2772

[2021-10-24 13:49] N0rbert opened #75 "keyboard LED indicator have low contrast on light themes"
Steps to reproduce:
1. Install Ubuntu MATE 21.10
2. Install ubuntu-mate-desktop
3. Enable keyboard LEDs from mate-tweak (Panel->Panels, Panel Features, Enable keyboard LED)
4. Set light theme from `mate-control-center` Appearance

Expected results:
* keyboard LEDs indicator is visible on light and dark themes

Actual results:
* keyboard LEDs indicator has low contrast on light themes, see Yaru-Lig

[2021-10-24 14:11] N0rbert opened #76 "Yaru-Theme does not define colors/icons/gradients which are used by applications"
Steps to reproduce:
1. Install Ubuntu MATE 21.10
2. Install gElemental from repository
3. Login to MATE session
4. Launch gelemental

Expected results:
* gelemental is usable, chemical elements has different colors

Actual results:
* gelemental is not usable, chemical elements has single same color

     ![gelemnental_Yaru-light](https://user-images.githubusercontent.com/309456/138597950-07636187-

[2021-10-24 14:15] N0rbert opened #77 "Snap Apps don't use Yaru MATE Themes"
Snap applications including the recently snap'd Firefox do not follow the Yaru MATE theme nor any of its color variations. By default these apps seem to default to Adwaita. It may be worth noting that Firefox uses the current Adwaita theme while Chromium seems to use an old version of the theme. The Ambience MATE themes do work in snap apps with zero extra configuration.

---
ProblemType: Bug
Appo

[2021-10-25 07:25] clobrano commented on #76
Hi @N0rbert, thank you for taking time to report this issue.
I noticed - in the launchpad bug - that a fix should be available in the application itself (see [here](https://github.com/ginggs/gelemental/commit/17c3a7fffe19890fc312a33ec2590ce1ac61f2e6))
I think that, if the definitions are used by 1 application only, it is up to the application to the application to provides it.

[2021-10-25 10:03] lah7 commented on #77
I'm not sure, but do snap apps require snapped themes to work? The [README](https://github.com/ubuntu-mate/gtk-theme-yaru-mate-snap#readme) for Ubuntu MATE's GTK snap mentions some commands to "connect" them. I found [a blog post on OMGUbuntu! in 2020](https://www.omgubuntu.co.uk/2020/06/change-snap-app-theme) covering the situation too. I could not find any later news if the "automatic" integrati

[2021-10-25 18:42] lah7 opened #78 "Unwanted infobar border in GNOME Software [Ambiant/Radiant-MATE]"
Originally reported at lah7/Ambiant-MATE#2

The `infobar` in GNOME Software appears to show an unwanted border with colours  `#eaea77` and `#e3e368`. In other themes, the colour is generally the accent colour. Noting as a potential thing for the community to fix.

![Screenshot_20211025_193202](https://user-images.githubusercontent.com/13032135/138750545-b1fa0981-e2b1-48ee-b21b-cf076e45fb40.png)
![

[2021-12-24 16:17] JPeisach opened #79 "GRUB: need to press escape to show options"
Jammy 22.04 testing - GRUB options won't show, just a gray background in my VBox VM (EFI and without) until I press escape.

[2021-12-27 17:42] N0rbert opened #80 "End of scroll shadow looks weird with Ambiant-MATE and Radiant-MATE themes"
Steps to reproduce:
1. Have Ubuntu MATE 22.04 LTS daily installed
2. With some application with vertical scroll - for example `mate-keyboard-properties` → Layouts → Options or `mate-appearance-properties`
3. Rotate mouse wheel to the bottom

Expected results:
* resulting scroll shadow is beautiful

Actual results:
* resulting scroll shadow is weird (see screenshots).

![jammy-scroll-Radiant-MATE](

[2022-02-08 13:34] user1-github opened #81 "Some CSD issues with Ambiant Mate theme"
It seems like some CSD apps don't look properly with Ambiant Mate theme as can be seen in the screenshot (the app is Gnome Disks). There are no rounded corners at the top and the exit, maximize, minimize buttons look ugly. In the screenshots of issue #78 it looks properly (it has rounded corners and the buttons look good). I'm currently on Ubuntu Mate 21.10.

P.S. I really hope that the developmen

[2022-02-12 13:43] navycatt opened #82 "The cursor (vertical bar) not visible when renaming a file/folder under Yaru-MATE-dark theme in Caja"
21.10 Ubuntu Mate, Yaru Mate Dark theme, the cursor (vertical bar) is not visible while renaming a file in Caja. Yaru Mate light is ok. See attachment.
![2022-01-20 06-16-22](https://user-images.githubusercontent.com/92228311/153713677-90b78149-bbc6-4eca-85bc-eacaaec0ea43.png)
Bugs https://bugs.launchpad.net/ubuntu/+source/ubuntu-mate-artwork/+bug/1960700 and https://bugs.launchpad.net/ubuntu/+sou

[2022-02-25 01:38] #76 closed, assigned to nobody

[2022-02-25 01:39] flexiondotorg commented on #72
Sadly not. Ambiant-MATE and Radiant-MATE will not be getting any future updates.

[2022-02-25 01:39] #72 closed, assigned to nobody

[2022-02-25 01:40] flexiondotorg commented on #80
Sorry, Ambiant-MATE and Radiant-MATE will not be getting any further updates.

[2022-02-25 01:40] #80 closed, assigned to nobody

[2022-02-25 01:40] flexiondotorg commented on #78
Sorry, Ambiant-MATE and Radiant-MATE will not be getting any further updates.

[2022-02-25 01:40] #78 closed, assigned to nobody

[2022-02-25 01:41] flexiondotorg commented on #73
Sorry, Ambiant-MATE and Radiant-MATE will not be getting any further updates. But the new Yaru-MATE themes do use green accents for the window decoration.

[2022-02-25 01:41] #73 closed, assigned to nobody

[2022-02-25 01:41] flexiondotorg commented on #71
Sorry, Ambiant-MATE and Radiant-MATE will not be getting any further updates.

[2022-02-25 01:41] #71 closed, assigned to nobody

[2022-02-25 01:41] flexiondotorg commented on #68
Sorry, Ambiant-MATE and Radiant-MATE will not be getting any further updates.

[2022-02-25 01:41] #68 closed, assigned to nobody

[2022-02-25 01:42] flexiondotorg commented on #60
Sorry, Ambiant-MATE and Radiant-MATE will not be getting any further updates.

[2022-02-25 01:42] #60 closed, assigned to nobody

[2022-02-25 01:42] flexiondotorg commented on #58
Sorry, Ambiant-MATE and Radiant-MATE will not be getting any further updates.

[2022-02-25 01:42] #58 closed, assigned to nobody

[2022-02-25 01:42] flexiondotorg commented on #63
Sorry, Ambiant-MATE and Radiant-MATE will not be getting any further updates.

[2022-02-25 01:42] #63 closed, assigned to nobody

[2022-02-25 01:42] flexiondotorg commented on #69
Sorry, Ambiant-MATE and Radiant-MATE will not be getting any further updates.

[2022-02-25 01:42] #69 closed, assigned to nobody

[2022-02-25 01:46] flexiondotorg commented on #81
Sorry, Ambiant-MATE and Radiant-MATE will not be getting any further updates.

[2022-02-25 01:46] #81 closed, assigned to nobody

[2022-02-25 21:07] flexiondotorg commented on #82
Fixed via 2470ec9f36ab203b01470f150354ec5a26134309 and 6c60c24da44b6468892794c53f76019e204d427c

[2022-02-25 21:07] #82 closed, assigned to nobody

[2022-02-27 03:31] navycatt commented on #82
I tested ubuntu mate 22.04 with package version ubuntu-mate-artwork 22.04.1. The problem is not solved.

[2022-02-27 03:31] navycatt commented on #82
yaru-mate-light with text cursor
![Снимок экрана в 2022-02-27 06-22-59](https://user-images.githubusercontent.com/92228311/155867037-78ab4c5c-8891-455f-ae3d-cf8c80bba830.png)

[2022-02-27 03:32] navycatt commented on #82
yaru-mate-dark without text cursor
![Снимок экрана в 2022-02-27 06-20-33](https://user-images.githubusercontent.com/92228311/155867050-8941869d-61c0-409f-9471-2c2bf4e1a7e6.png)

[2022-02-28 06:51] flexiondotorg commented on #77
The required snaps have been created and published.

  * https://github.com/ubuntu-mate/gtk-theme-yaru-mate-snap
  * https://github.com/ubuntu-mate/icon-theme-yaru-mate-snap

`snapd` still does not feature auto-connection of snapped themes. Closing this issue, as there is nothing for us to fix.

[2022-02-28 06:51] #77 closed, assigned to nobody

[2022-02-28 06:55] flexiondotorg commented on #64
Fixed via:

  * https://github.com/flathub/org.gtk.Gtk3theme.Yaru-MATE-dark
  * https://github.com/flathub/org.gtk.Gtk3theme.Yaru-MATE

[2022-02-28 06:55] #64 closed, assigned to nobody

[2022-03-01 01:46] navycatt opened #83 "Text caret navigation not visible when renaming a file/folder using Caja Icon View and Yaru-MATE -dark theme"
Issue https://github.com/ubuntu-mate/ubuntu-mate-artwork/issues/82 not fixed.
I tested ubuntu mate 22.04 with package version ubuntu-mate-artwork 22.04.1. The problem is not solved.
yaru-mate-light with text cursor
![Снимок экрана в 2022-02-27 06-22-59](https://user-images.githubusercontent.com/92228311/156089085-735f0d5a-26d1-4c7a-a73c-d44c70055802.png)
yaru-mate-dark without text cursor
![Снимок

[2022-03-01 18:16] flexiondotorg commented on #83
Fixed via https://github.com/ubuntu/yaru/pull/3431

[2022-03-01 18:16] #83 closed, assigned to nobody

[2022-03-12 20:31] navycatt commented on #74
Ubuntu Mate 22.04 affected too.

[2022-03-17 04:21] navycatt opened #84 "Text caret navigation not visible when renaming a file/folder on desktop and Yaru-MATE-dark theme"
22.04, 21.10 Ubuntu Mate, Yaru Mate Dark theme, text caret navigation is not visible while renaming a file on the desktop. Yaru Mate light is ok.
yaru-mate-light with text caret navigation
![yaru-mate-light](https://user-images.githubusercontent.com/92228311/158736369-33774756-d4af-4df0-9192-191fabb3d72b.png)

yaru-mate-dark without text caret navigation
![yaru-mate-dark](https://user-images.githu

[2022-03-17 11:05] flexiondotorg commented on #84
This is fixed in 22.04 via https://github.com/ubuntu-mate/ubuntu-mate-artwork/releases/tag/22.04.2

[2022-03-19 08:31] gnat commented on #64
Thank you @flexiondotorg !!

Suggestion: Since flatpak is default in MATE 22.04, would be really cool if `org.gtk.Gtk3theme.Yaru-MATE-dark` got installed alongside Yaru-MATE-dark theme so people don't need to google this ticket.

[2022-03-19 15:16] nothingneko commented on #64
As far as I know Flatpak with automatically install the theme as needed

[2022-03-23 16:18] flexiondotorg commented on #79
This is not a theme issue.

[2022-03-23 16:18] #79 closed, assigned to nobody

[2022-03-23 17:01] flexiondotorg commented on #84
Fixed via https://github.com/ubuntu/yaru/pull/3544

[2022-03-23 17:01] #84 closed, assigned to nobody

[2022-03-23 17:08] flexiondotorg commented on #74
This is a bug in Caja, not Yaru. For reasons yet to be established this one element doesn't update on a theme change.

Killing Caja and starting it will refresh the text-based location as will restarting the desktop session or rebooting.

[2022-03-23 17:08] #74 closed, assigned to nobody

[2022-03-23 17:09] flexiondotorg commented on #35
I do not understand what this issue is trying to describe. Closing as it is an old request. Please open a new issue with more details if the feature is important to you.

[2022-03-23 17:09] #35 closed, assigned to nobody

[2022-03-24 13:04] #75 closed, assigned to nobody